spring:
  application:
    name: fashionshop

  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=FashionDB;encrypt=true;trustServerCertificate=true;sendStringParametersAsUnicode=true;
    username: sa
    password: 123456
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.SQLServerDialect
